*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins";
}

.navList{
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    text-align: center;
    gap: 15px;
    background-color: #1F2937;
}

.navLogo{
    font-size: 24px;
    font-family: "Poppins";
    font-weight: bold;
    margin-left: 150px;
    margin-right: auto;
    text-align: center;
    color: #F9FAF8;
    
}

.navList li{
    margin-top: 10px;
}

.navLinkDiv a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    
}

.navLinkDiv{
    display: flex;
    align-items: center;
    margin-right: 150px;
    gap: 20px;
}

.heroContainer2{
    height: 80vh;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.heroContent{
    height: 280px;
    width: 500px;
    margin-left: 150px;
}

.heroContent h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.heroContent p{
    font-size: 17.5px;
    color: #E5E7EB;
}

.heroContent button{
    height: 40px;
    width: 130px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
}

.heroImg{
    height: 280px;
    width: 530px;
    background-color: rgba(255, 255, 255, 0.39);
    visibility: 50%;
    margin-left: 50px;
    text-align: center;
}

.heroImg img{
    height: 300px;
    width: 530px;
    vertical-align: middle;
    background-size: cover;
    color: #F9FAF8;
    
}

.mainCont h1{
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.boxDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.box{
    height: 170px;
    width: 170px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.box p{
    margin-top: 180px;
    font-size: 16px;
    text-align: center;
    color: #1f2937a9;
}

